.float-child.date {
    margin-left: 100px;
    
}  
body {
    border-style: solid;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2015/11/03/a-beautiful-sunny-day-wallpaper.jpg');
}

h1 {
    border-style: groove;  
    border-color: rgb(28, 23, 97) ;
    background-color: rgb(28, 23, 97); 
    color: white;
    
}
.container { 
    padding: 30px 300px;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.container{
    width: 6000px;
    height: 50px;
    border-collapse: 50px;
    border-style: inheri; 
    padding-left: 10px; 
    box-sizing:content-box;
    width: 10%;
    border-radius: 2px ;
    height: 100px;
    float: center;
    }

.current-info.others {
    display: flex;
    flex-direction: column;
    
}
.place-container{
    display: flex;
}

.others .weather-item{
    display: flex;
    
}
.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center ;

}
.future-forecast .today .date {
    display: flex;
}
.future-forecast .weather-forecast{
    display: flex;
}
 .weather-forecast.weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 10px solid black;
}
.weather-forecast.weather-forecast-item.Temp{
       font-weight: 100;
}
.weather-forecast-item{
    box-sizing: content-box red
    ;
    border: 5px solid rgb(235, 235, 243); 
    background-color: rgb(28, 23, 97); 
    color: blanchedalmond;
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 100px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .weather-item{
    font-weight: 100;
    font-size: 12px;
}
.middle{
align-items: center;
display: flex;}
.container{

position: relative;
  margin:  auto;
  text-align: left;
  clear: left;
  height: auto;
  z-index: 0;
}
.searchbox {
position: relative;
  margin: 0 auto;
  text-align: left;
  clear: left;
  height: 10px;
  z-index: 0;
}
@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    @media only screen and (max-width: 1400px){
        .future-forecast{
            justify-content: start;
            align-items: none;
            overflow-x: scroll;
        }
    }
}